<div class="sign-up-form">
<form class="form-horizontal" ng-controller="submitForml" ng-submit="submitForm();">
  
  <div class="form-group">
    <label for="userName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" name="user_name" ng-model="form.user_name" class="form-control" id="userName" placeholder="Name">
    </div>
  </div>
  
  <div class="form-group">
    <label for="userNumber" class="col-sm-2 control-label">PhoneNumber</label>
    <div class="col-sm-10">
      <input type="text" name="user_phonenumber" ng-model="form.user_phonenumber" class="form-control" id="userNumber" placeholder="Phone Number">
    </div>
  </div>

  <div class="form-group">
    <label for="userEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" name="user_email" ng-model="form.user_email" class="form-control" id="userEmail" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="userNumber" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10">
      <input type="text" name="user_Address" ng-model="form.user_Address" class="form-control" id="userAddress" placeholder="Address">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="save()" ui-sref="checkout">Continue</button>
    </div>
  </div>

</form>
</div>